[submodule "signal"]
	path = signal
	url = https://github.com/jfern2011/signal.git
[submodule "abort"]
	path = abort
	url = https://github.com/jfern2011/abort.git

[submodule "cpplint"]
	path = cpplint
	url = https://github.com/cpplint/cpplint
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest